html, body, #root {
  position: relative;
  height: 100%;
}

.App {
  height: 100%;
  position: relative;
  margin: 0px 20px;
}

.App > .row {
  background: #333;
  height: 100%;
  position: relative;
}

.App > .row > .col {
  background: #fff;
  height: 100%;
  position: relative; 
  overflow: auto;
}

.column-title {
  background: #333;
  color: #fff;
  margin: 0px;
  padding: 5px;
  text-align: center;
  margin-bottom: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-add {
  margin-bottom: 15px;
}
